* {
  margin: 0;
}

.add_button {
  background-color: #2563eb;
  border: none;
  font-style: inherit;
  color: white;
  padding: 0.5rem;
  border-radius: 0.6rem;
  width: fit-content;
  cursor: pointer;
}
